/* CSS para forzar la orientación horizontal en dispositivos móviles */
@media screen and (max-width: 767px) and (orientation: portrait) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
      color: white;
      font-size: 20px;
      text-align: center;
    }
  
    #app::before {
      content: "Por favor, gira tu dispositivo a modo horizontal 📱🔄";
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
      font-size: 24px;
      text-align: center;
      padding: 20px;
    }
  
    #app * {
      display: none;
    }
  }